/* ============================
            google-font 
=============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* ====================================
        common style or unilities 
===================================== */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 35px 0; */
}


/* ================================ 
            header-area-style 
==================================== */
.header-area{
    background: #2D25A0;
    display: flex;
    justify-content: center;
    padding-bottom: 86px;
    
}
.container{
    width: 1164px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 49px;
}
/* -------------------- nav -------------- */
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
}
nav ul li{
    margin-right: 36px;

}
nav ul li a{
    font-size: 16px;
    color: #fff;
}

/* -------------------login-------------------- */
.login a{
    padding: 10px 24px;
    background-color: #E02C6D    ;
    color: #fff;
}

/* ----------------------copa america--------------------- */

.header-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 102px;
}

.copa-title{
    font-size: 64px;
    color: #fff;
}
.copa-thumbnail img{
    width: 556.01px;

}

/* ============================
        main  area style
=================================== */
.players-list{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 26px;

}

.player{
    padding: 15px;
    width: 300px;
    background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-thumb img{
    width: 100%;
    height: 256px;
}
.player-name{
    font-size: 28px;
    margin-bottom:0;
    margin-top: 20px;
}
.player-details p{
    color: #6C6C6C;
}


/*================================
     highlights-area start css
==================================== */
.highlight-area{
    margin-top: 165px;
    margin-bottom: 158px;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 66px;
}
.high-thumb img{
    width: 567px;
    height: 427px;
}
.high-content{
    margin-top: 58px;
}
.high-title{
    font-size: 48px;
    margin-bottom: 0;
}

.high-content p{
    margin-bottom: 24px;
}



/* ===========================
        footer-area css 
================================== */
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-thumb img{
    width: 483.87px;
}
.social-icon{
    margin: 20px 0;
    display: flex;
}
.social-icon .icon{
    background: #E7E7E8;
    display: flex;
    color: #969BAB;
    justify-content: center;
    Width :32px;
    Height : 32px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15px;
    transition: .3s;
    
} 
.social-icon .icon:hover{
    transform: rotate(360deg);
}
.copyright{
    font-size: 18px;
    margin-bottom: 63px;
}



.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
 

/* ============================
        responsive layout css
============================== */
/* mobile device view */
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
    }
    .header-top{
        /* display: grid; */
        /* grid-template-columns: repeat(1,1fr); */
        margin: 25px;
        padding: 0;

    }
    .checkbtn{
        display: block;
    }
    .header-bottom{
        grid-template-columns: repeat(1,1fr);
        margin:25px;
    }

    nav ul{
        flex-direction: column;
        display: none;
    } 
    nav ul li{
        margin-right: 36px;
    
    }
    .copa-america{
       
        width: 50%;
        margin-bottom: 50px;
    }
    .copa-title {
        font-size: 36px;
    }
    .copa-thumbnail img {
        width: 100%;
    }
    .header-area {
        padding-bottom: 51px;
    }



    /* players  */
    .players{
        grid-template-columns: repeat(1,1fr);
    
    }

    .highlight-area{
        margin: 0 25px;

    }
    .highlights{
        grid-template-columns: repeat(1,1fr);
  
    }
    .high-title {
        font-size: 30px;
    }
    .high-thumb {
        margin: 30px 0;
    }
    .high-thumb img {
        width: 100%;
        height: inherit;
    }
    .foot-thumb{
        display: flex;
        justify-content: center;
    }
    .foot-thumb img {
        width: 70%;
    }
}


@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .header-top{
        margin: 25px;

    }
    .checkbtn{
        display: none;
    }
    .copa-title {
        font-size: 42px;
    }


    /* players  */
    .players{
        grid-template-columns: repeat(2,1fr);
    }

    .highlight-area{
        margin-right: 25px;
        margin-left: 25px;

    }
    .high-title {
        font-size: 36px;
    }
    .high-thumb img {
        width: 100%;
    }
    .high-content {
        margin-top: 0;
    }
    .header-bottom{
        margin:25px;
    }
    .copa-thumbnail img {
        width: 100%;
    }
}